*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
    background-image: url(/img/100dollar.webp);
}
form{
    width: 300px;
    height: 200px;
    background-color: #fff;
    opacity: calc(0.9);
    border-radius: 10px 10px 0 0;
}
.form2{
    border-radius: 0 0 10px 10px;
}
h1{
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategrey;
}
h2{
    margin-left: 50px;
    margin-top: 5px;
    color: darkslategrey;
}
input{
    margin-left: 55px;
    width: 180px;
    height: 30px;
    margin-bottom: 10px;
    border: 2px solid grey;
    border-radius: 3px;
}
button{
    padding: 8px 14px;
    background-color: aquamarine;
    border: none;
    border-radius: 5px;
    margin-left: 100px;
    cursor: pointer;
}
button:hover{
    background: rgb(13, 52, 8);
    color: bisque;
    transition: ease 0.4s;
}
input:hover{
    border: 2px solid darkcyan;
    height: 33px;
    border-radius: 5px;
    transition: ease 0.4s;
}